
/********** Base styles **********/
* {
  box-sizing: border-box;
}
.redbg{ background-color: red; }
.bluebg{ background-color: blue; }
.greenbg{ background-color: green; }
h1 { margin-bottom: 15px; }

h2 { margin-top: 130px; }
.navbar-brand{ height: 100px 
}
h3 {
  margin: 0px;
  border: 1px solid black;
  float: right;
}
.navbar-brand a:hover, .navbar-brand a:hover {
  text-decoration: none;
}
section {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
}
#collapsable-nav{background-color: black;}
#header-nav{ background-color: gray; }
.navbar-header .navbar-brand a{
  margin-left: auto;
  color: white;
}
#nav-list a{
  color: white;
  
}
#nav-list a:hover {

}
section > div{
  border: 1px solid black;
  background-color: gray;
  margin-right: auto;
  margin-left: auto;
  margin: 10px;
}
p{ clear: right; }
/* Simple Responsive Framework. */
.row {
  width: 100%;
}



